<p>directives works!</p>
<h2>directives  is a class that adds additional behaviour to elements i your application 
    
</h2>
<h3>A featuires in angurar that helps you to provide more power to dom elements </h3>
<p>if-else condtion 
     for loop 
     add style 
      ngif, ngfor , ngstyle, ngswitch , ng class 
</p>
types of directives
<h2>component directives</h2>
<p>the most common type of directives</p>
<p>used in componenet tmepelate</p>
<h2>Structural Directive</h2>
<p>chnage the Structrue of the dom by adding removing or manipulating elements </p>
<h3>Attrbute Directive</h3>
<p>modify the Apperance or behaviour of an exisiting element</p>
<h2 *ngIf="show">hii i am new here from ngif</h2>
<div *ngIf="login ;else elseBlock">
    <a href=""><h2>logout {{login}}</h2></a><br>
</div>
<ng-template #elseBlock>
    <a href=""><h2>login</h2></a>
</ng-template>


<h2 style="color: red;">ngfor</h2>
<ul>
    <li *ngFor="let x of Students">{{x}}</li>
</ul>
<ul>
    <li *ngFor="let s of StudentsData">{{s.name}}, {{s.age}},{{s.job}}</li>
</ul>
<h2> nested ngfor </h2>
<ul>
    <li *ngFor="let s of StudentsDatas">
      {{ s.name }}, {{ s.age }}, {{ s.job }}
      <ul>
        <li *ngFor="let skill of s.skills">
          - {{ skill }}
        </li>
      </ul>
    </li>
  </ul>



  <div *ngIf="Block==0">
    <h2>heading 0</h2>
  </div>
  <div *ngIf="Block==1">
    <h2>Heading 1</h2>
  </div>
  
  <div *ngIf="Block==2">
    <h2>Heading 2</h2>
  </div>
  
  <div *ngIf="Block==3">
    <h2>Heading 3</h2>
  </div>
  
  <button (click)="updateBlock()">click</button>
  
  