<p>directives works!</p>
<h2>directives  is a class that adds additional behaviour to elements i your application 
    
</h2>
<h3>A featuires in angurar that helps you to provide more power to dom elements </h3>
<p>if-else condtion 
     for loop 
     add style 
      ngif, ngfor , ngstyle, ngswitch , ng class 
</p>
types of directives
<h2>component directives</h2>
<p>the most common type of directives</p>
<p>used in componenet tmepelate</p>
<h2>Structural Directive</h2>
<p>chnage the Structrue of the dom by adding removing or manipulating elements </p>
<h3>Attrbute Directive</h3>
<p>modify the Apperance or behaviour of an exisiting element</p>
<h2 *ngIf="show">hii i am new here from ngif</h2>
<ul>
    <li *ngFor="let x of Students">{{x}}</li>
</ul>