<p>dropdwon works!</p>

                <h2> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti eveniet, expedita dolorem sed aspernatur rerum voluptas temporibus molestias soluta a iure velit possimus mollitia ex hic placeat esse repellat officia?</h2>
                  <t-dropdown class="m-1" id="dropdown2" lang="en"  disabled="false" search="true" placeholder="Select Fruit" position="bottom" selected="2"
                   option-keys='{"value":"value","label":"name"}' dropheight="20vh" option-data='fruitData' theme="dark" 
                   (search)="searchingDetails($event);" (tdropdown)="tdropdownsearch($event);">
                  </t-dropdown>
                
              