<p>dynamicstyle works!</p>
<h2 style="background-color: red;">dynamci color</h2>
<h2 [style.backgroundColor]="bgcolor" [style.fontSize]="fontSize">dynamci color</h2>
<p [style.fontSize]="headingBig">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit tempora dignissimos corporis! Magni doloribus libero minus numquam natus accusamus quibusdam.a</p>
<p [style.fontSize]=" Zoom? headingBig :headingSmall ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque reiciendis quas soluta laboriosam doloribus nostrum, officiis eligendi eius recusandae illo.</p>
<button (click)="udatesize()">Toggel button</button>

