<p>t-dropdown works!</p>
                
                
<!-- <t-dropdown id="dropdown1"  placeholder="Select" selected='' theme="dark" position=""
option-keys='{"value":"value","label":"name"}' option-data='[]'>
</t-dropdown> -->



                
<t-dropdown class="m-1" id="dropdown2" lang="en"  disabled="false" search="true" placeholder="Select Fruit" position="bottom" selected="3"
option-keys='{"value":"value","label":"name"}' dropheight="20vh" option-data='[{"value":1,"name":"Apple"},{"value":2,"name":"Strawberry"},{"value":3,"name":"Pineapple"}]' theme="dark"
(search)="searchingDetails($event);" (tdropdown)="tdropdownsearch($event);">
</t-dropdown>

