<!-- <h1>heelo rahul</h1>
<h2>{{ title }}</h2>
<h3>{{ name }}</h3>
<button (click)="hello()" style="background-color: red">click me</button>
<h4>{{hello()}}</h4>
<h2>
  {{ title.toLocaleUpperCase() }}
  <app-login></app-login>
  <h2>hello heading</h2>
  <app-login></app-login>
  <app-login></app-login>
  <app-login></app-login>
  <app-login></app-login>
  <app-login></app-login>
  <app-login></app-login>
  <app-login></app-login>
  <app-signup></app-signup>

<app-profile></app-profile>
<button (click)="clicked()" style="color: green;">click me </button>
 <button (click)="sum(2,5)" style="color: green;">click me</button>
 <h1>Event in Angular</h1>
<button  (click)="handleEvent($event)"> check event </button>
<div
    (mouseenter)="handleEvent($event)"
    style="background-color: green; width:100px; height:100px">
</div>
<div
    (mouseout)="handleEvent($event)"
    style="background-color: rgb(155, 13, 84); width:100px; height:100px">
</div>
<br>
<br>
<br>
<input type="text"
(input)="handleEvent($event)" name="user"
(focus)="handleEvent($event)" name="user"> -->
<!-- <h1>get and set inout field value</h1>
<h1>User Name is :{{displayName}}</h1>
<input type="text" value="{{name}}" (input)="getName($event)" placeholder="Enter user name">
<br>
<br>
<button (click)="showName()">Get Value</button>
<button (click)="setName()">set value</button>
<app-event></app-event>
<app-property>
 
  
</app-property>
<app-twoway></app-twoway>
<h1>{{job}}</h1> -->
<!-- <app-ifelse></app-ifelse>
<app-elseif></app-elseif>
<app-switchcase></app-switchcase>
<app-forloop></app-forloop>
<app-signals></app-signals>
<app-computedsignal></app-computedsignal>
<app-twoway></app-twoway>
<app-contectualvar> -->
   <!-- <app-button></app-button> -->
    <multiselect-overview-example></multiselect-overview-example>
    <dropdown></dropdown>
    <app-todolist></app-todolist>
    <app-dynamicstyle></app-dynamicstyle>
    <app-directives></app-directives>